////////////////////////////////
////LOGO
.logo{
    height: 3.25rem;
    margin-left: 2rem;
    
}





////////////////////////////////
////SEARCH
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media only screen and (max-width: $bp-smallest) {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-Grey-light-2);
    }
    
    &__input{
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-Grey-light-2);        
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;
        
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-Grey-light-3); 
            
            @media only screen and (max-width: $bp-smallest) {
                background-color: var(--color-Grey-light-2);
            }
            
        }
        
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-Grey-light-4);
            
        }
        
    }
    
    &__input:focus + &__button {
            background-color: var(--color-Grey-light-3);
        }
    
    &__button {
        border: none;
        background-color: var(--color-Grey-light-2);
        
        &:focus {
            outline: none;
        }
        
        &:active {
            transform: translateY(.2rem);
        }
    }
    
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-Grey-dark-3);
    }
}


////////////////////////////////
////USER NAVIGATION

.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;
    
    
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    & > *:hover {
        background-color: var(--color-Grey-light-2);
    }
    
    &__icon-box {
        position: relative;
        
        &:hover > .user-nav__hint {
            display: block;
            z-index: 10;
        }
        
        @media only screen and (max-width: $bp-tiniest) {
            display: none;
        }
    }
    
    &__hint {
        font-size: 1.3rem;
        font-weight: 100;
        width: 16rem;
        padding: .5rem;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        border: 2px solid var(--color-Grey-light-3);
        box-shadow: var(--shadow-light);
        text-align: center;
        display: none;
        position: absolute;
        
        &-bookmark {
            top: 5rem;
            right: -5rem; 
        }
        
        &-messages {
            top: 5rem;
            right: -7rem; 
        }
    }
    
    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-Grey-dark-2);
        
    }
    
    &__notification{
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 100px;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__user {
        position: relative;
    }
    
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }
    
    &__user-name {
        font-size: 1.5rem;
        
        
    }
    &__user:hover > .user-nav-dropdown {
            display: flex;
    }
    
    &-dropdown {
        width: 20rem;
        height: 25rem;
        background-color: #fff;
        border-radius: 5px;
        position: absolute;
        top: 7rem;
        right: 0;
        display: none;
        
        @media only screen and (max-width: $bp-smallest) {
            top: 4rem;
            z-index: 1000;
        }
        
        
        &__list {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        
        &__item {
            padding: 1rem 3.5rem;
            width: 100%;
            
            &:hover {
                background-color: var(--color-Grey-light-2);
            }
        }
        
        &__link {
            text-decoration: none;
            color: var(--color-Grey-dark-2);
        }
    }
    
}



////////////////////////////////
////SIDE NAVIGATION

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
    
    @media only screen and (max-width: $bp-medium) {
        display: flex;
        margin-top: 0;
    }
    
    @media only screen and (max-width: $bp-tiniest) {
        flex-direction: column;
    }
    
    
    &__item {
        position: relative;
        
        &:not(:last-child) {
            margin-bottom: 0.5rem;
            
            @media only screen and (max-width: $bp-medium) {
                margin: 0;
            }
        }
        
        @media only screen and (max-width: $bp-medium) {
            flex: 1;
        }
    }
    
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }
    
    &__item:hover::before,
    &__item--active::before {
       transform: scaleY(1) !important;
        width: 100% !important;
    }
    
    &__item:active::before {
        background-color: var(--color-primary-light);
    }
    
    &__link:link,
    &__link:visited {
        color: var(--color-Grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        z-index: 10;
        position: relative;
        
        display: flex;
        align-items: center;
        
        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
            padding: 2rem;
        }
        
        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            padding: 1.5rem .5rem;
        }
    }
    
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: currentColor;
        margin-right: 2rem;
        
        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
            margin-bottom: .7rem;
            width: 1.5rem;
            height: 1.5rem;
        }
        
    }
}

////////////////////////////////
////LEGAL TEXT

.legal {
    font-size: 1.2rem;
    color: var(--color-Grey-light-4);
    text-align: center;
    padding: 2.5rem;
    
    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}


////////////////////////////////
////GALLERY

.gallery {
    display: flex;
    
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
    
    &__item{
        display: flex;
        flex-direction: column;
        
    }
    
    &__photo {
        width: 100%;
        display: block;
    }
    
    &__capture {
        font-size: 1.3rem;
        font-weight: 600;
        height: 7rem;
        
        padding: 1.5rem 1rem 2rem 1rem;
        background-color: var(--color-Grey-light-1);
        border-left: 2px solid var(--color-Grey-light-3);
        border-bottom: 2px solid var(--color-Grey-light-3);
        text-align: center;
        transform: scale(1);
        transition: all .2s;
            
        &:hover {
            
            @media only screen and (min-width: 1200px) {
                color: var(--color-primary);
                border: 2px solid var(--color-Grey-light-3);
                border-radius: 5px;
                transform: scale(1.1);
                z-index: 100;
                position: relative;
            }
            
        }
        
        
        
    }
    
}

////////////////////////////////
////HOTEL OVERVIEW

.overview {
    background-color: var(--color-Grey-light-1);
    display: flex;
    border-bottom: var(--line);
    align-items: center;
    
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
    
    
    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
        
        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem 0 2rem;
        }
    }
    
    &__stars {
        margin-right: auto;
        display: flex;
        
        @media only screen and (max-width: $bp-small) {
            margin: 1rem 0;
        }
    }
    
    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }
    
    &__location {
        font-size: 1.3rem;
        display: flex;
        
        @media only screen and (max-width: $bp-small) {
            align-items: center;
        }
        
    }
    
    &__icon-location {
        margin-right: .5rem;    
    }
    
    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: .8rem 2.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        
        @media only screen and (max-width: $bp-small) {
            padding: 0 1.5rem;
            margin-bottom: 1rem;
            align-self: auto;
        }
    
    }           
    
    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
        
        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
        }
    }
    
    &__rating-count {
        font-size: 1rem;
        text-transform: uppercase;
        
        @media only screen and (max-width: $bp-small) {
            font-size: .5rem;
        }
    }
    
}

////////////////////////////////
////BUTTON INLIN

.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    
    @media only screen and (max-width: $bp-small) {
            margin: 1rem 0;
        }
        
    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }
    
    &:hover {
        color: var(--color-Grey-dark-1);
        
        span {
            margin-left: 8px;
        }
        
    }
    
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    
    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0, .25);
    }
    
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

////////////////////////////////
////PARAGRAPH

.paragraph:not(:last-of-type) {margin-bottom: 3rem;}

////////////////////////////////
////LIST
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;
    
    @media only screen and (max-width: $bp-tiniest) {
        flex-direction: column;
    }
    
    
    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }
    
    &__item::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;
        
        //older browsers
        background-image: url(../img/chevron-thin-right.svg);
        background-size: cover;
        
        //new browsers - masks
        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            background-color: var(--color-primary);
            -webkit-mask-image: url(../img/chevron-thin-right.svg);
            -webkit-mask-size: cover;
            mask-image: url(../img/chevron-thin-right.svg);
            mask-size: cover;
            background-image: none;
        }
        
    }
}

////////////////////////////////
////RECOMMEND

.recommend {
    font-size: 1.3rem;
    color: var(--color-Grey-dark-3);
    display: flex;
    align-items: center;
    
    @media only screen and (max-width: $bp-tiniest) {
        flex-direction: column;
        
    }
    
    &__count {
        margin-right: auto;
    }
    
    &__friends {
        display: flex;
        
        @media only screen and (max-width: $bp-tiniest) {
            margin-top: 1rem;
        }
    }
    
    &__photo {
        box-sizing: content-box;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        border: 3px solid #fff;;
        
        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}

////////////////////////////////
////REVIEWS

.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;
    
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-bottom: 3rem;
    }
    
    
    &__text {
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }
    
    &__user {
        display: flex;
        align-items: center;
    }
    
    &__photo {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;    
    }
    
    &__user-box {
        margin-right: auto;
    }
    
    &__user-name {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: .4rem;
    }
    
    &__user-date {
        font-size: 1rem;
        color: var(--color-Grey-dark-3);
    }
    
    &__rating {
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 300;
    }
    
    &::before {
        content: "\201C";
        color: var(--color-Grey-light-2);
        font-size: 20rem;
        line-height: 1;
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        font-family: sans-serif;
        z-index: 1;
        
    }
}


////////////////////////////////
//// CALL TO ACTION

.cta {
    padding: 3.5rem 0;
    text-align: center;
    
    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem 0;
    }
    @media only screen and (max-width: $bp-smallest) {
        margin: 0 1.5rem;
    }
    
    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 3.5rem;
        text-transform: uppercase;
        
    }
}

////////////////////////////////
//// CALL TO ACTION BUTTON
.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light),var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s;
    }
    
    &__visible {
        padding: 2rem 7.5rem;
        
    }
    
    &__invisible {
        padding: 2rem 0rem;
        position: absolute;
        left: 0;
        top: -100%;
    }
    
    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light),var(--color-primary-dark));
    }
    
    &:hover &__visible {
        transform: translateY(100%);
    }
    
    &:hover &__invisible {
        top: 0;
    }
    
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}
























