.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-Grey-light-2);
    box-shadow: var(--shadow-dark);
    
    min-height: 50rem;
    
    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }
}

.content {
    display: flex;
    
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
    
}

.sidebar {
    background-color: var(--color-Grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    
    
    //text
    flex: 1;
}

.details {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-Grey-light-1);
    border-bottom: var(--line);
    
    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }
    
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
    
    @media only screen and (max-width: $bp-smallest) {
        padding: 0 0 3rem 0;
    }
   
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    
    @media only screen and (max-width: $bp-medium) {
        margin-right: 3rem;
        padding: 2rem;
    }
    
    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}
.user-reviews {
    background-color: var(--color-Grey-light-1);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


















